{
    "presets": [
      "@babel/preset-env",
      [
        "@babel/preset-react",
        {
          "runtime": "automatic" // This has been included to enable the JSX Transform
        }
      ],
      "@babel/preset-typescript"
    ]
}