.modal-dialog {
  margin-top: -100px !important;
}

.modal-content {
  width: 40vw !important;
  min-width: 400px;
  margin: 0 auto !important;
}

.director-modal__director-image {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 12px;
}

.director-modal__director-text {
  line-height: 1.3;
}
